@{
    ViewData["Title"] = "About";
    ViewData["Text"] = "Text has been applied";
}
<h1>@ViewData["Text"]</h1>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
